.gallery-pre-title {
  color: #303030;
  margin-bottom: 40px;
}

.gallery-list {
  display: block;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .gallery-item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
      margin-bottom: 0;
    }
  }
}
